.container{
    margin-bottom: 90px;
}
.-bg{
    background-color: rgb(255, 226, 237);
    border-radius: 10px;
}

.carousel-item{
    padding: 20px 40px;
}
.price{
    color: rgb(218, 14, 116);
}
.buynow{
    background-image: linear-gradient(to bottom, lightpink 0%, hotpink 100%);
    color: ivory;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 100px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 15px lightpink;
    border-radius: 10px;
}
.card-footer{
    background-color: rgb(240, 226, 228);
    border-top: none;
}